.contatosFooter {
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    color: #fff;

    nav {
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
}

.copyRight{
    height: 6vh;
    color: #fff;
    background-color: #232020;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 780px) {
    .contatosFooter {
        flex-direction: column;
        height: 10vh;

        nav {
            width: 60%;
        }
    }
    .copyRight {
        font-size: 12px;

        p{
            width: 60%;
            text-align: center;
        }
    }
}